.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-input {
  margin-top: 32px;
  width: 480px;
  height: 48px;
  font-size: 24px;
}

.App-button {
  margin-top: 16px;
  width: 240px;
  height: 48px;
  font-size: 24px;
}

.App-result {
  margin-top: 24px;
  font-size: 20px;
}
